<h2>Add question</h2>
<form id="addQuestionForm">
    <div class="form-group">
        <textarea
                rows="3"
                placeholder="Type a question"
                class="form-control"
                name="question"
        ></textarea>
    </div>

    {{#each questions }}

        <div class="row">
            <div class="col-md-6 mb-3">
                <input
                        name="answers"
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Type an answer"
                >
            </div>
            <div class="col-md6 mb1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="correct"> correct
                    </label>
                </div>
            </div>
        </div>

    {{/each }}

    <input type="submit" class="btn btn-primary" value="Add question">
</form>