<h1>Add question</h1>
<form id="addQuestionForm">
    <input type="text" placeholder="Type a question" name="question"/>
    <ul>
        <li>
            <input type="text" placeholder="Type an answer" name="answers"/>
            <label>
                <input type="checkbox" name="correct" value="1"/>
                Correct
            </label>
        </li>
        <li>
            <input type="text" placeholder="Type an answer" name="answers"/>
            <label>
                <input type="checkbox" name="correct" value="1"/>
                Correct
            </label>
        </li>
        <li>
            <input type="text" placeholder="Type an answer" name="answers"/>
            <label>
                <input type="checkbox" name="correct" value="1"/>
                Correct
            </label>
        </li>
    </ul>
    <input type="submit">
</form>