<h2>Questions</h2>
<table class="table">
    <thead>
    <tr>
        <th>Question</th>
        <th>Answers</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody>
    {{#each questions}}
        <tr>
            <td>{{ title }}</td>
            <td>
                <ul type="a">

                    {{#each answers}}
                        <li>
                            {{ title }}
                            {{#if correct}}
                                <span class="correct">&#10004;</span>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </td>
            <td>{{ created }}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
