
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ studentEmail }}</li>
</ol>

<div class="card">
    <div class="card-header">
        Question: {{ id }} of {{ total }}
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ progress }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
        <h4 class="card-title">{{ question.title }}</h4>

        <form id="questionForm">

            {{#each question.answers}}
                <div>
                    <div class="checkbox">
                        <label>
                            <input
                                    type="checkbox"
                                    name="correct"
                                {{#if checked }} checked {{/if}}
                            >
                            {{#if ../saved }}
                                {{#if correct}}
                                    <span class="correct">&#10004;</span>
                                {{/if}}
                            {{/if}}
                            {{ title }}
                        </label>
                    </div>
                </div>
            {{/each }}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</div>
