<div id="loginFormBlock">

    <div id="loginMessage"></div>

    <form id="loginForm">
        <div class="form-group">
            <label for="email">Enter your email to start</label>
            <input
                    id="email"
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter email">
        </div>

        <button
                id="startButton"
                type="submit"
                class="btn btn-primary">
            Start
        </button>

    </form>
</div>